svg .labels {
  font-family: 'itc-avant-garde-gothic-pro', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}

svg polyline {
  fill: none;
  stroke: #343434;
}

@media screen and (max-width: 1023px) {
  svg .labels {
    font-size: 1.2em;
    font-weight: 400;
  }
}
@media screen and (max-width: 767px) {
  svg .labels {
    font-size: 1.5em;
    font-weight: 400;
    text-transform: none;
  }
}
