#sun-viz {
}
.time-label {
  fill: white;
  stroke: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.tick text {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .time-label {
    font-size: 36px;
  }
  .tick text {
    font-size: 28px;
  }
}

input[type=range] {
  height: 33px;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #333;
  border-radius: 0px;
  border: 1px solid #ccc;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #777;
  border: 1px solid #333;
  height: 25px;
  width: 6px;
  border-radius: 3px;
  background: #ddd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #333;
  background: #333;
  border-radius: 0px;
  border: 1px solid #ccc;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #777;
  border: 1px solid #333;
  height: 25px;
  width: 6px;
  border-radius: 3px;
  background: #ddd;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #777;
  border: 1px solid #333;
  height: 25px;
  width: 6px;
  border-radius: 3px;
  background: #ddd;
  cursor: pointer;
}
