.time-label {
  fill: white;
  stroke: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.tick text {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .time-label {
    font-size: 36px;
  }
  .tick text {
    font-size: 28px;
  }
}
