@import "../../index";

$home-bg-color: #2F54EB;
$home-text-color: #314659;

$padding-space: 144px;
$border-color: rgba(229, 231, 235, 100);

.Banner {
  display: flex;
  align-items: center;
  //height: 500px;
  padding: 50px 0;

  ul {
    line-height: 30px;
    a{
      color: #4080ff;
      text-decoration: none;
    }
    a:hover {
      font-weight: bold;
    }
  }
  li {
    padding: 0 10px;
  }
}
