body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$primary: #194F87;
$secondary: #FEFEFE;
$tertiary: #326396;
$my-lighten:#4080ff;

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1 {
  text-align: center;
}

.max-width-30 {
  max-width: 30%;
}
.max-width-fit-content {
  max-width: fit-content;
}

@media (min-width: 768px) {
  .max-width-md-30 {
    max-width: 30%;
  }
}

.font-size-xl {
  font-size: x-large;
}
.font-size-40px {
  font-size: 40px;
}

.list-style-type-none li {
  list-style-type: none;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

.chip > img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.serif-font, h1 {
  font-family: Palatino,Georgia,Cambria,"Times New Roman",Times,serif;
}
.sans-serif-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.cursor-pointer:hover {
  cursor: pointer;
}

label {
  color: #6c757d !important;
}

.content-detail {
  img {
    max-width: 100%;
  }
}

.Toastify__toast-body a {
  color: #b3d7ff;
  text-decoration: underline;
  font-weight: bold;
}